Solution/Common/Debug/
Solution/App/Debug/
Solution/App/Log.txt
Solution/Solution.VC.VC.opendb
Solution/Solution.VC.db
Solution/App/x64/Debug/
Solution/Common/x64/Debug/Common.tlog/Common.lastbuildstate
